# Python cache
__pycache__/
*.py[cod]
*.so
*.log

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# Model/Results/Data
*.h5
*.pt
*.pth
*.ckpt
*.onnx
*.npz
*.npy

# Ignore generated outputs
results/

# Ignore large datasets but keep structure
data/processed/
!data/processed/.gitkeep
